.b{
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    color: black;
    background-color: aqua;
}
.container{
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    font-size: large;
}
.c{
    margin-right: 5px;
}
.submit{
    border-radius: 50px;
    padding-left: 40px;
    font-weight: bold;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    background-color:red;
}